<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate" />
        
        <link href="{{ asset('css/cssReseter.css') }}" type="text/css" rel="stylesheet" media="all">
        <link href="{{ asset('css/css_fonts.css') }}" type="text/css" rel="stylesheet" media="all">
        <link href="{{ asset('css/cssMarvel.css') }}" type="text/css" rel="stylesheet" media="all">
        
        <script src="{{ asset('js/jsCore.js') }}"></script>
        <script src="{{ asset('js/jsPersonnages.js') }}"></script>
        <script src="{{ asset('js/jsAjaxCore.js') }}"></script>
        <script src="{{ asset('js/jsFiltrage.js') }}"></script>
        <script src="{{ asset('js/jsSelection.js') }}"></script>
        
        
        <title>Mes super héros Marvel</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="cMenu">
            {% block mainMenu %}
            {{ render(controller("App\\Controller\\DefaultController::menu")) }}
            {% endblock %}
        </div>
    
        <div id="site">
            {% block site %}
            Bonjour,<br />
            Bienvenue sur l'application Marvel.
            <br />
            <br />
            Pour accéder à la liste des personnages, veuillez cliquer sur le bouton "Personnages".
            {% endblock %}
        </div>
    </body>
</html>
