{% block listePersonnages %}
    <div class="filtrage">
        <div class="titre">
            Filtrer les personnage
        </div>
        <div class="cButtons" id="btnsFiltrage">
            <button id="hasDescription" type="button" clicked="0">
                Seulement ceux qui ont une description
            </button>
        </div>
    </div>
    <ul id="listePersonnages">
    {%for personnage in dataPerso %}
        <li id="{{personnage.persID}}" hasDescription="{{ personnage.hasDesc }}" inComics="{{ personnage.inComics }}">
            <a href="{{ personnage.lienPersonnage }}">
                <div class="cImg" style="background-image: url({{ personnage.image }})">
                    <div class="persCount">
                        {{personnage.persCount}}
                    </div>
                </div>
                <div class="persDatas">
                    <div class="persNom">{{personnage.nom}}</div>
                    {% if personnage.hasDesc > 0 %}
                    <div class="hasDesc">
                        {{ personnage.hasDesc }}
                        <img src="{{ asset('images/description.png') }}" title="Dispose d'une description" alt="Dispose d'une description" />
                    </div>
                    {% endif %}
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}