<div class="personnageContainer">
    <div class="personnageImage">
        <img src="{{ personnageImage }}" />
    </div>
    <div class="personnageInfos">
        <div class="nom">
            {{ personnageNom }}
        </div>
        <div class="description">
            {{ personnageDescription }}
        </div>
    </div>
    <div class="personnageCarriere">
        <div class="nbComics">
            {% if personnageNbComics > 0 %}
            Ce personnage a dans <b>{{ personnageNbComics }}</b> comics de Marvel.
            {% else %}
            Ce personnage n'a pas de comic à lui.
            {% endif %}
            
        </div>
        
        {% if personnageNbComics > 0%}
        <div class="listeDesComics">
            <div class="titre">
                Ses trois premières parutions :
            </div>
            <ul class="liste">
                {%for comic in personnagePremiersComics %}
                    <li id="{{ comic.id }}}">
                        <div class="comicTitre">
                                {{ comic.titre }}
                            </div>
                        <div class="cImg">
                            <div class="comicCount">
                                {{ comic.count }}
                            </div>

                            <img src="{{ comic.image }}" />
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
    